[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "PRDA"]
	path = PRDA
	url = https://github.com/claudiozandonella/prda
[submodule "trackdown"]
	path = trackdown
	url = https://github.com/claudiozandonella/trackdown
